@font-face {
    font-family: 'Showcard Gothic';
    src: url('ShowcardGothic-Reg.eot');
    src: url('ShowcardGothic-Reg.eot?#iefix') format('embedded-opentype'),
        url('ShowcardGothic-Reg.woff2') format('woff2'),
        url('ShowcardGothic-Reg.woff') format('woff'),
        url('ShowcardGothic-Reg.ttf') format('truetype'),
        url('ShowcardGothic-Reg.svg#ShowcardGothic-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

